---
title: Project Outputs
---

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Applied</h2>
	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}

    {% comp "dashboard.pane" %}
    <h3>Days employment for freelance artists and creatives</h3>
    {% comp "dashboard.big_number", { number: 380.5 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Learning or participation sessions</h3>
    {% comp "dashboard.big_number", { number: 112 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>New cultural activities/products</h3>
    {% comp "dashboard.big_number", { number: 153 } %}
    {% endcomp %}
    {% endcomp %}
    
        {% comp "dashboard.pane" %}
    <h3>Performances or exhibition days</h3>
    {% comp "dashboard.big_number", { number: 746 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Training opportunities</h3>
    {% comp "dashboard.big_number", { number: 192 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Volunteer opportunities</h3>
    {% comp "dashboard.big_number", { number: 136 } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Funded</h2>
	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}

    {% comp "dashboard.pane" %}
    <h3>Days employment for freelance artists and creatives</h3>
    {% comp "dashboard.big_number", { number: 81 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Learning or participation sessions</h3>
    {% comp "dashboard.big_number", { number: 52 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>New cultural activities/products</h3>
    {% comp "dashboard.big_number", { number: 87 } %}
    {% endcomp %}
    {% endcomp %}
    
        {% comp "dashboard.pane" %}
    <h3>Performances or exhibition days</h3>
    {% comp "dashboard.big_number", { number: 311 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Training opportunities</h3>
    {% comp "dashboard.big_number", { number: 39 } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Volunteer opportunities</h3>
    {% comp "dashboard.big_number", { number: 55 } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}
