---
title: Cultural Anchors - Funding Invested
---	
    
<p>Subject to availability, Leeds City Council also invests funding from other sources alongside LCC funding.</p>

{% comp "dashboard.panels", { columns: 3 } %}

	{% comp "dashboard.pane" %}
		<h3>Funding invested from Leeds City Council</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from Leeds City Council'], prefix: '£', fontsize:'2.5rem'  } %}{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane" %}
		<h3>Funding invested from others</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from others'], prefix: '£', fontsize:'2.5rem'  } %}{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane" %}
		<h3>Cumulative<br>spend</h3>
		{% comp "dashboard.big_number", { number: (viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from Leeds City Council']) + (viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from others']), prefix: '£', fontsize:'2.5rem'  } %}{% endcomp %}
	{% endcomp %}

{% endcomp %}