html, body {
	padding: 0px;
	margin: 0px;
	min-height: 100%!important;
	height: 100%!important;
	background-color: #ffffff;
	font-family: var(--oi-main-fontstack);
  /* https://css-tricks.com/accessible-font-sizing-explained/#aa-avoid-setting-a-base-font-size */
	font-size: 100%;
	color: #333;
	line-height: 1.44em;
}
h1,h2,h3,h4, .title, .subtitle { 
	font-family: var(--oi-title-fontstack); 
	line-height: 1em; 
}
h1, .title { 
	font-size: 1.8em; 
	margin-top: 0.5em; 
	margin-bottom: 1em;
	font-weight: 600;
	text-decoration: underline;
	color: #0a2f45; 
	text-decoration: underline; 
	text-underline-offset: 10px; 
	text-decoration-color: #91cfce;
	text-decoration-thickness: 3px;
	text-align:center;
 }

h2 { font-size: 1.6em; 
	margin-top: 1.5em; 
	font-weight: 500; 
	text-align: center;
	text-decoration: underline; 
	text-underline-offset: 10px; 
	text-decoration-color: #0a2f45;
	text-decoration-thickness: 3px;
}
h3 { 
	font-size: 1.4em; 
	margin-top: 1.428571em; 
	font-weight: 600;
	text-align: center;
}
h2:first-child, h3:first-child, .title { margin-top: 0; }
h1 + *, h2 + *, h3 + * { margin-top: 2em; }
strong { font-weight: 700; }
em { font-style: italic; }
p, time, li, td, th, footer, div { font-weight: 400; }
p, iframe, h2, h3, figure, ul, ol, .padded-bottom { margin-bottom: 1em; }
button, .button { border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 3em 1em; cursor: pointer; vertical-align: top; line-height: 1.25em; }
a:hover, a:focus { text-decoration: underline; }
a:visited { color: inherit; }
a { color: inherit; text-decoration: inherit; }
footer { width: 100%; padding-bottom: 3em; }
code,pre { font-family: monospace; color: #444; background-color: #efefef; }
code { padding: 0.125em 0.25em; }
pre { max-width: 100%; overflow-x: auto; padding: 16px; margin-bottom: 16px; }
pre code { padding: 0; }
ul { list-style: disc; }
ol { list-style: decimal; }
ul { padding: 0; margin-left: 2em; }

.holder { position: relative; width: 1080px; max-width: 100%; margin: auto; }
.holder.padded > *:last-child { margin-bottom: 0; }
button, .button { margin-top: 0.25em; border: 0px; font-size: 1em; background-color: #efefef; color: black; text-decoration: none!important; display: inline-block; padding: 0.5em 1em; cursor: pointer; }
a.button:hover, button:hover, button:focus, a.button:focus { background-color: #333333!important; color: #efefef!important; }
.b1-bg { background-color: #004563; color: white!important; }
.b2-bg { background-color: #333333; color: white!important; }
.bk-bg { background-color: #6D6D6D; color: white!important; }
.b3-bg, .github:hover { background-color: #999999; color: black!important; }
.b4-bg { background-color: #bbbbbb; color: black!important; }
.b5-bg, .off label { background-color: #dfdfdf; color: black!important; }
.b6-bg { background-color: #ffffff; color: black!important; }
.warning { color: rgb(95, 82, 7); background-color: rgb(251, 245, 208); filter: drop-shadow(0px 0px 1px rgb(95, 82, 7)); }
.message { text-align: center; }
.padded { padding: 1em; }
.padded-bottom { padding: 1em; margin-bottom: 1em; }
.doublepadded { padding: 2em; }
.spaced { margin-bottom: 1em; }
.centred { text-align: center; }
.tallpadded { padding-top: 2em; padding-bottom: 2em; }
section { padding: 2em 0; }

.skip-to-content-link { position: absolute; top: -3rem; right: 0.5rem; z-index: 2000; transition: top 0.2s; padding: 0.5rem 1rem; }
.skip-to-content-link:focus { top: 0.25rem; }

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
  }


header a { text-decoration: none; line-height: 0; }
header h1 { margin-top: 0; }
header nav ul {
	width: max-content;
	margin: 0 auto;
	font-size: 1.2em;
	position: relative;
	font-family: var(--oi-title-fontstack);
	display: flex;
    padding-top:2em;
}
header nav ul li { display: inline-block; }
header nav ul > li > a { padding: 1em 1em; display: inline-block; width: 100%; color: inherit; }

/* Dashboard */
.pane { 
	padding: 2em; 
}

.grid { display: grid; grid-template-columns: 50% 50%; grid-gap: 0.5em; margin-top: 0.5em; margin-bottom:0;}
.grid .pane { 
	background: #91cfce; 
	color: #0a2f45;
	fill: #0a2f45;
	border-right: solid; 
	border-width: 1px 1px; 
	border-color: #7eb4b3;
    transition: color 0.15s linear, background-color 0.15s linear;

}

.grid .pane h2 {
	text-decoration: none;
	font-size: 1.4em;
	margin:0;
}

ul.grid { list-style: none; margin-left: 0em; grid-template-columns: repeat(auto-fill, minmax(min(100%, 300px), 1fr));}
ul.grid > li > a { display: block; text-decoration: none;}
ul.grid > li > a > h3 { 
	text-align: center; 
	font-weight: 500; 
	font-size: 1.1em; 
	color: inherit; 
	line-height: 1.4em; 
	color:rgba(92, 176, 177, 0.881) 0%;
	color: rgb(0, 50, 71) 100%;
	line-height: 1.4em;
}

ul.grid > li > h3 {
	text-align: center; 
	font-weight: 500; 
	font-size: 1.2em; 
	color: inherit; 
	color:rgba(92, 176, 177, 0.881) 0%;
	color: rgb(0, 50, 71) 100%;
	line-height: 1.4em;
}

ul.grid > li > a > h2 {
	font-size: 1.4em;
    transition: color 0.2s linear, background-color 0.2s linear;
	text-underline-offset: 8px;
	line-height: 1.6em;


	&:hover {
		color: white;
		text-decoration-color: #91cfce;
	}
}



@media only screen and (max-width: 1080px) {
	.grid { grid-template-columns: 100%; }
	.grid-list { grid-template-columns: repeat(2,1fr); grid-gap: 0.25em; }
}


@media only screen and (max-width: 800px) {
	ul.grid.dashboard {
		display: flex;
		flex-direction: column;
	}
}
