---
title: Activate - Target Groups
---

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Applied</h2>
	{% endcomp %}
{% endcomp %}


{% comp "dashboard.panels", { columns: 4 } %}

{# {% comp "dashboard.pane" %}
    <h3>Carers</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Carers'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Disabled people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Disabled people'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>Ethnically diverse people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Ethnically diverse people'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>LGBT+</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['LGBT+'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Men</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Men'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Mental health</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Mental health'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Non-binary people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Non-binary people'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>Not targeted at a specific group</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Not targeted at a specific group'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>Older people (over 55)</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Older people (over 55)'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>School staff</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['People in school (teachers  governors  support staff etc)'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>People with challenging lives</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['People with challenging lives (e.g.  those who are socially excluded  those from a low-income household  young people at risk  in care or NEET  carers)'] } %}
    {% endcomp %}
{% endcomp %}

{% comp "dashboard.pane" %}
    <h3>Pupils in<br>schools</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Pupils in schools'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>Religious or Belief Communities</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Religious or Belief Communities'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Women</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Women'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Younger people (under 25)</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_applied['rows'][0]['Younger people (under 25)'] } %}
    {% endcomp %}
{% endcomp %} #}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Funded</h2>
	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 4 } %}
{# {% comp "dashboard.pane" %}
    <h3>Carers</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Carers'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Disabled people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Disabled people'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>Ethnically diverse people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Ethnically diverse people'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>LGBT+</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['LGBT+'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Men</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Men'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Mental health</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Mental health'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Non-binary people</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Non-binary people'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>Not targeted at a specific group</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Not targeted at a specific group'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>Older people (over 55)</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Older people (over 55)'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>School staff</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['People in school (teachers  governors  support staff etc)'] } %}
    {% endcomp %}
{% endcomp %} #}

{% comp "dashboard.pane" %}
    <h3>People with challenging lives</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['People with challenging lives (e.g.  those who are socially excluded  those from a low-income household  young people at risk  in care or NEET  carers)'] } %}
    {% endcomp %}
{% endcomp %}

{% comp "dashboard.pane" %}
    <h3>Pupils in<br>schools</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Pupils in schools'] } %}
    {% endcomp %}
{% endcomp %}

{# {% comp "dashboard.pane" %}
    <h3>Religious or Belief Communities</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Religious or Belief Communities'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Women</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Women'] } %}
    {% endcomp %}
{% endcomp %} #}

{# {% comp "dashboard.pane" %}
    <h3>Younger people (under 25)</h3>
        {% comp "dashboard.big_number", { number: viz.lcip.activate.target_groups_funded['rows'][0]['Younger people (under 25)'] } %}
    {% endcomp %}
{% endcomp %} #}

{% endcomp %}
