---
title: Inspire
---

<div class="summary">
<p>
    Inspire provides small grants for one off cultural projects and activities offering grants between £500 to £1,500 for individuals or organisations. The dashboard below provides an overview of the grants awarded through the scheme. Click the panels to see further detail.
</p>
</div>

	{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane", { link: "/lcip/inspire/funding-surgeries" } %}

		<h3>Funding surgeries offered</h3>
		{% comp "dashboard.big_number", { number: 26 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>


	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/inspire/applications/" } %}
		
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: 25 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>


	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/inspire/applications/", columns: 2, rows: 2 }  %}
		
		<h3>Applications received by ward</h3>
	{% comp "dashboard.embedded_figure"  %}
    <p style = "text-align:center;">This map represents the number of applications received from each Leeds ward.</p>
	
	{{ comp.oi.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: viz.lcip.inspire.APPLICATIONS_BY_WARD,
			scale:  'rgb(30, 172, 175) 0%, rgb(0, 69, 99) 100%',
			matchKey: 'ward_code',
			value: 'value',
			min: 0, 
			max: 2,
			label: '{{ n | slice(0,3) }}',
			tooltip: '{{ n }}: <strong>{{ value }}</strong>'
		}
	}) | safe }}
    <p class="footnote">Inspire</p>


	{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/inspire/results/" }  %}
		<h3>Number of funded artists</h3>
		
		{% comp "dashboard.big_number", { number: 5 } %}
		{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/" }  %}
		<h3>Total amount awarded</h3>
		
		{% comp "dashboard.big_number", { prefix: '£', number: '11k' } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

	{% endcomp %}

    	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/" }  %}
		<h3>Total amount requested</h3>
		
		{% comp "dashboard.big_number", { prefix: '£', number: '25k' } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Funding requested from Leeds City Council</h3>

		{% comp "dashboard.big_number", { number:'£8k' } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

	{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Funding invested from others</h3>

		{% comp "dashboard.big_number", { number: '£3k' } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

	{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Artists/creatives</h3>

		{% comp "dashboard.big_number", { number: 250 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

	{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Volunteers</h3>

		{% comp "dashboard.big_number", { number: 100 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>

		{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Broadcast/ online audiences</h3>
		{% comp "dashboard.big_number", { number: 3000 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>
		{% endcomp %}
		
		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Audience - in person</h3>
		{% comp "dashboard.big_number", { number: 1200 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>
		{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/activate/" }  %}
		<h3>Participants - in person</h3>
		{% comp "dashboard.big_number", { number: 700 } %}
		{% endcomp %}
      	<p class="footnote">Inspire</p>
		{% endcomp %}

{% endcomp %}
