---
title: Inspire
---

<p>
    Inspire provides small grants for one off cultural projects and activities offering grants between £500 to £1,500 for individuals or organisations.
</p>

<h2>Funding advice sessions</h2>
{{
	comp.oi.dashboard({
		config: {
            "data": [{
                    "Title": "Funding surgeries offered",
                    "Value": 58
                },{
                    "Title": "Funding surgeries booked",
                    "Value": 49
                },{
                    "Title": "Online/telephone sessions",
                    "Value": 27
                },{
                    "Title": "In person sessions",
                    "Value": 132
                }],
			title: "Title",
			value: "Value",
			width: "20%",
			panels: [{
				name: "Funding surgeries offered"
			},{
				name: "Funding surgeries booked"
            },{
				name: "Online/telephone sessions"
            },{
				name: "In person sessions"
			}]
		}
	}) | safe
}}

<h2>Applications Received</h2>
{{
	comp.oi.dashboard({
		config: {
            "data": [{
                    "Title": "From an individual artist",
                    "Value": 17
                },{
                    "Title": "Number of eligible applications",
                    "Value": 17
                },{
                    "Title": "Number of ineligible applications",
                    "Value": 0
                },{
                    "Title": "Total amount of funding requested",
                    "Value": 24500
                }],
			title: "Title",
			value: "Value",
			width: "20%",
			panels: [{
				name: "From an individual artist"
			},{
				name: "Number of eligible applications"
            },{
				name: "Number of ineligible applications"
            },{
				name: "Total amount of funding requested"
			}]
		}
	}) | safe
}}

<h2>Results</h2>
{{
	comp.oi.dashboard({
		config: {
            "data": [{
                    "Title": "Number of funded individual artists",
                    "Value": 13
                },{
                    "Title": "Unsuccessful artist applications",
                    "Value": 4
                },{
                    "Title": "Withdrawn by applicant",
                    "Value": 0
                },{
                    "Title": "Total amount awarded to artists",
                    "Value": 11000
                }],
			title: "Title",
			value: "Value",
			width: "20%",
			panels: [{
				name: "Number of funded individual artists"
			},{
				name: "Unsuccessful artist applications"
            },{
				name: "Withdrawn by applicant"
            },{
				name: "Total amount awarded to artists"
			}]
		}
	}) | safe
}}

<h2>Artform</h2>
{{
	comp.oi.dashboard({
		config: {
            "data": [{
                    "Title": "Number of funded individual artists",
                    "Value": 13
                },{
                    "Title": "Unsuccessful artist applications",
                    "Value": 4
                },{
                    "Title": "Withdrawn by applicant",
                    "Value": 0
                },{
                    "Title": "Total amount awarded to artists",
                    "Value": 11000
                },{
                    "Title": "Number of funded individual artists",
                    "Value": 13
                },{
                    "Title": "Unsuccessful artist applications",
                    "Value": 4
                },{
                    "Title": "Withdrawn by applicant",
                    "Value": 0
                },{
                    "Title": "Total amount awarded to artists",
                    "Value": 11000
                }],
			title: "Title",
			value: "Value",
			width: "20%",
			panels: [{
				name: "Number of funded individual artists"
			},{
				name: "Unsuccessful artist applications"
            },{
				name: "Withdrawn by applicant"
            },{
				name: "Total amount awarded to artists"
			}]
		}
	}) | safe
}}