---
title: Engagement with Children & Young People
---

<p>
    Throughout the Year of Culture, the LEEDS 2023 team delivered an inclusive and enriching engagement programme with pupils across Leeds schools. The programme was designed to support the creative curriculum, and to nurture creative engagement with young people. The programme was delivered through a series of workshops, participatory sessions, performances and classroom resources and activities.
</p>
<p>
    The creative learning programme was designed to be inclusive, engaging with schools across all wards in Leeds and interacting with young people in areas previously underserved by creative and cultural education.
</p>

{% comp "dashboard.panels", { columns: 4 } %}

    {% comp "dashboard.pane" %}
    <h3>Total<br>events</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Total school engagements'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total in person attendances</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Unique schools'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total tickets<br>sold</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Total pupil engagements'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total tickets<br>sold</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Percentage of Leeds schools engaged'], fontsize: '2.5rem', suffix: '%'  } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}

{% comp "dashboard.pane"%}
<h3>Number of engagements with pupils</h3>
<p>The chart below presents the number of activities that were delivered with children in Leeds schools as part of the LEEDS 2023 programme.</p>
{{ comp.oi.chart.line({ config: {
    data: viz.leeds_2023.engagements_by_week,
    width: 983,
    height: 500,
    "columns": [{
      "name": "date_decimal",
      "template": "{{ date | strptime(\"%Y-%m-%d\") | decimalYear() }}"
		}],
    series: [
      {
        title: 'Engagements (cumulative)',
        x: "date_decimal",
        y: "cumulative_pupil_engagements",
		tooltip: "Engagements (cumulative)\n{{ date }}: {{ cumulative_pupil_engagements | toLocaleString() }}"
      }
    ],
    legend: {
      show: false
    },
    axis: {
      x: {
        title: {
          label: 'Date'
        },
        "ticks": [{
            "value": 2022.92,
            "grid": true,
            "label": "",
            "tickSize": 5
        },{
            "value": 2023,
            "grid": true,
            "label": "Jan-23"
        },{
            "value": 2023.08,
            "grid": true,
            "label": ""
        },{
            "value": 2023.17,
            "grid": true,
            "label": "Mar-23"
        },{
            "value": 2023.25,
            "grid": true,
            "label": ""
        },{
            "value": 2023.33,
            "grid": true,
            "label": "May-23"
        },{
            "value": 2023.42,
            "grid": true,
            "label": ""
        },{
            "value": 2023.5,
            "grid": true,
            "label": "Jul-23"
        },{
            "value": 2023.58,
            "grid": true,
            "label": ""
        },{
            "value": 2023.67,
            "grid": true,
            "label": "Sep-23"
        },{
            "value": 2023.75,
            "grid": true,
            "label": ""
        },{
            "value": 2023.83,
            "grid": true,
            "label": "Nov-23"
        },{
            "value": 2023.92,
            "grid": true,
            "label": ""
        },{
            "value": 2024,
            "grid": true,
            "label": ""
        }],
        min: 2022.841667,
        max:2023.955556
      },
      y: {
        grid: {
          show: true,
          'stroke-width': 0.5
        },        
        title: {
          label: "Number of engagements"
        },
        tick: { 
          spacing: 5000
        },
        max: 40000
      }
    }
  } }) | safe }}

  {% endcomp %}
  {% endcomp %}

{% comp "dashboard.panels", { columns: 2 } %}

{% comp "dashboard.pane"%}
<h3>School engagements by ward</h3>
<p>
  This map shows the number of creative engagement activities carried out with schools as part of the LEEDS 2023 programme, by ward.
  Darker colours mean more engagements were held in each ward.
  Hover over the hexagon to see the count of engagements per ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
    min:0,
    max:30,
    scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
    "legend": {
      "position": "top",
      "items": [{
          "value": 25,
          "label": "25"
        },{
          "value": 20,
          "label": "20"
        },{
          "value": 15,
          "label": "15"
        },{
          "value": 10,
          "label": "10"
        },{
          "value": 5,
          "label": "5"
        },{
          "value": 0,
          "label": "0"
        }]
    },
		matchKey: 'ward_code',
		value: 'total_engagements',
		label: '{{ n | slice(0,3) }}',
		tooltip: '{{ n }}: <strong>{{ total_engagements }}</strong>'
	}
  }) | safe }}
{% endcomp %}

{% comp "dashboard.pane"%}
<h3>Pupil engagements by ward</h3>
<p>
  This map shows the number of pupils engaged with as part of the LEEDS 2023 programme, by ward.
  Darker colours mean more engagement activities were held in each ward.
  Hover over the hexagon to see the count of engagements in each ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
		matchKey: 'ward_code',
    scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
    min:0,
    max: 2000,
    "legend": {
      "position": "top",
      "items": [{
          "value": 2500,
          "label": "2500"
        },{
          "value": 2000,
          "label": "2000"
        },{
          "value": 1500,
          "label": "1500"
        },{
          "value": 1000,
          "label": "1000"
        },{
          "value": 500,
          "label": "500"
        },{
          "value": 0,
          "label": "0"
        }]
    },
		value: 'pupil_engagements',
		label: '{{ n | slice(0,3) }}',
		tooltip: '{{ n }}: <strong>{{ pupil_engagements }}</strong>'
	}
  }) | safe }}

  {% endcomp %}
  {% endcomp %}


{% comp "dashboard.panels", { columns: 1 } %}

{% comp "dashboard.pane"%}
<h3>Percentage of schools engaged with in each ward</h3>
<p>
  This map shows the percentage of schools that were engaged with as part of LEEDS 2023 activities, out of the schools in each ward.
  Darker colours mean more engagement activities were held in each ward.
  Hover over the hexagon to see the percentage of schools engaged with in each ward.
</p>
{{ comp.oi.map.hex_cartogram({
    config: {
		hexjson: hex.wards_leeds,
		data: viz.leeds_2023.engagements_by_ward,
		matchKey: 'ward_code',
		value: 'percent_of_schools_in_ward_engaged',
    	scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
        min:30,
        max:100,
        width: 700,
        height: 700,
        "legend": {
        "position": "top",
        "items": [{
            "value": 100,
            "label": "100%"
            },{
            "value": 80,
            "label": "80%"
            },{
            "value": 60,
            "label": "60%"
            },{
            "value": 40,
            "label": "40%"
            },{
            "value": 20,
            "label": "20%",
            "colour": '#f2e7f5'
            },{
            "value": 0,
            "label": "0%",
            "colour": '#ffffff'
            }]
        },
            label: '{{ n | slice(0,3) }}',
            tooltip: '{{ n }}: <strong>{{ percent_of_schools_in_ward_engaged }}%</strong>'
        }
    }) | safe }}
    {% endcomp %}
  {% endcomp %}

  {# <h2>Youth Development Projects</h2>

  {{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.youth_development_projects",
			title: "title",
      note: "note",
			value: "value",
			width: "90%",
			panels: [{
				name: "Total engagements",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}}
{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.youth_development_projects",
			title: "title",
      note: "note",
			value: "value",
			width: "30%",
			panels: [{
				name: "2022 Youth Summit",
				colour: "UoL-purple"
			},{
				name: "The WOW Barn Festival",
				colour: "UoL-purple"
			},{
				name: "Music workshops",
				colour: "UoL-purple"
			},{
				name: "Lift the Lid",
				colour: "UoL-purple"
			},{
				name: "Children's Day Reimagined",
				colour: "UoL-purple"
			},{
				name: "Grants Scheme",
				colour: "UoL-purple"
			}]
		}
	}) | safe
}} #} 
 
