---
title: Activate
---

<div class="summary">
<p>
    Activate – is a flexible funding strand which enables the Council to distribute external funding, commission projects, make strategic interventions and solicit (invite) applications that respond to a defined need, gap in provision or demand for activity.
</p>