{%-if link -%}<a class="figure-link" href="{{ link | url }}">{%- endif -%}
<figure class="dashboard-figure" style="
    {%- if rows %}grid-row:auto/span {{ rows }};{% endif -%}
    {%- if columns %}grid-column:span {{ columns }};{% endif -%}">
  {{ content | safe }} 
  {% if title  %}<figcaption>{{ title }}</figcaption>{% endif %}
</figure>
{%-if link -%}</a>{%- endif -%}


