---

css: |
  .dashboard .pane {
    --background: 'black';
    --foreground: 'white';
    color: var(--foreground);
    background: var(--background);
    padding-top: 0em;
    padding: 3em;
  }
---

<div class="dashboard pane"
  style="
    {%- if fg %}--foreground: {{ fg }};{% endif -%}
    {%- if bg %}--background: {{ bg }};{% endif -%}
  ">
  {{ content | safe }}
</div>