---
title: Inspire - Funding Invested (TBC)
---	
    
{% comp "dashboard.panels", { columns: 3 } %}

	{% comp "dashboard.pane" %}
		<h3>Funding invested from Leeds City Council</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.inspire.funding['rows'][0]['Funding invested from Leeds City Council'] } %}{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane" %}
		<h3>Funding invested from others</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.inspire.funding['rows'][0]['Funding invested from others'] } %}{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane" %}
		<h3>Cumulative spend</h3>
		{% comp "dashboard.big_number", { number: 'XXX'} %}{% endcomp %}
	{% endcomp %}

{% endcomp %}