---
title: Inspire - Reach
---

{% comp "dashboard.panels", { columns: 3 } %}

	{% comp "dashboard.pane", { link: "/lcip/inspire/advice-sessions" } %}
		<h3>Audience - in person</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.inspire.reach['rows'][0]['Audience - in person'], fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane", { link: "/lcip/inspire/advice-sessions" } %}
		<h3>Broadcast/online audiences</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.inspire.reach['rows'][0]['Broadcast/online audiences'], fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane", { link: "/lcip/inspire/advice-sessions" } %}
		<h3>Participants - in person</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.inspire.reach['rows'][0]['Participants - in person'], fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

{% endcomp %}