---
title: Cultural Anchors - Workforce
---

{% comp "dashboard.panels", { columns: 2 } %}

	{% comp "dashboard.pane" %}

		<h3>Artists / Creatives</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural-anchors.contribution_to_workforce['rows'][0]['Artists/Creatives'] } %}
		{% endcomp %}

	{% endcomp %}


	{% comp "dashboard.pane" %}
		
		<h3>Volunteers</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural-anchors.contribution_to_workforce['rows'][0]['Volunteers'] } %}
		{% endcomp %}

	{% endcomp %}
{% endcomp %}