---
title: Activate - Project Outputs
---

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Applied</h2>
	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}

    {% comp "dashboard.pane" %}
    <h3>Days employment for artists and creatives</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Days employment for freelance artists and creatives'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Learning or participation sessions</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Learning or participation sessions'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>New cultural activities/products</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['New cultural activities/products'] } %}
    {% endcomp %}
    {% endcomp %}
    
        {% comp "dashboard.pane" %}
    <h3>Performances or exhibition days</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Performances or exhibition days'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Training<br>opportunities</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Training opportunities'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Volunteer opportunities</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Volunteer opportunities'] } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}

    {% comp "dashboard.pane", { bg: '#004563', color: '#ffffff' } %}
		<h2>Funded</h2>
	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}

    {% comp "dashboard.pane" %}
    <h3>Days employment for artists and creatives</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Days employment for freelance artists and creatives'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Learning or participation sessions</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Learning or participation sessions'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>New cultural activities/products</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['New cultural activities/products'] } %}
    {% endcomp %}
    {% endcomp %}
    
        {% comp "dashboard.pane" %}
    <h3>Performances or exhibition days</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Performances or exhibition days'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Training<br>opportunities</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Training opportunities'] } %}
    {% endcomp %}
    {% endcomp %}

        {% comp "dashboard.pane" %}
    <h3>Volunteer<br>opportunities</h3>
    {% comp "dashboard.big_number", { number: viz.lcip.activate.project_outputs_funded['rows'][0]['Volunteer opportunities'] } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}
