---
title: LEEDS 2023 Dashboard
---
{% from 'macros.njk' import dateFormatterNoYear as dateFormatter %}


<div class="summary">
<p>
	This page displays data about the <a href="https://leeds2023.co.uk/">LEEDS 2023 Year of Culture</a>. The figures are drawn from the <a href="https://data.leeds2023.co.uk">LEEDS 2023 Data Microsite</a>, where data from various systems are extracted, processed and visualised to represent the narrative and legacy left behind by the cultural programme. A full evaluation of Leeds' Year of Culture will be available in late 2024.
</p>
</div>

{% comp "dashboard.panels", { columns: 3 } %}

    {% comp "dashboard.pane" %}
    <h3>Total events</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.events_ticketing_headlines['rows'][0]['Total events'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total in person attendances</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.events_ticketing_headlines['rows'][0]['Total in person attendances'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total tickets sold</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.events_ticketing_headlines['rows'][0]['Total tickets sold'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}

<div class="block">

<h2>Engagement with young people</h2>

<p>
	The Year of Culture offered children and young people a chance to take part in a creative learning programme - from creative workshops and participatory challenges to classroom resources and activities. Their school engagements linked back to the curriculum, so that pupils' experiences aligned with learning goals. They developed a free, inclusive programme to support cultural and creative education in Leeds schools, engaging with students across all parts of the city. The data shown below was extracted from Airtable, the data management system run internally within LEEDS 2023. 
</p>

{% comp "dashboard.panels", { columns: 4 } %}

    {% comp "dashboard.pane" %}
    <h3>Total<br>events</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Total school engagements'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total in person attendances</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Unique schools'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total tickets<br>sold</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Total pupil engagements'], fontsize: '2.5rem'   } %}
    {% endcomp %}
    {% endcomp %}

	{% comp "dashboard.pane" %}
    <h3>Total tickets<br>sold</h3>
    {% comp "dashboard.big_number", { number: viz.leeds_2023.schools_headlines['rows'][0]['Percentage of Leeds schools engaged'], fontsize: '2.5rem', suffix: '%'  } %}
    {% endcomp %}
    {% endcomp %}

{% endcomp %}


<div class="read-more">
<a href="/leeds-2023/school-engagement/">READ MORE</a>
</div>

</div>


<div class="block">

<h2>Volunteers</h2>

<p>
	The volunteers were the heart of the Year of Culture. The data below showcases the number of shifts and hours that the volunteers completed, helping to ensure the LEEDS 2023 and partner events ran smoothly. There was a simple application process to follow to become a volunteer. After volunteers applied, applications were looked at and LEEDS 2023 guided volunteers through the assessment, before making offers to successful candidates. The data shown below was extracted from the Rosterfy volunteer management system which tracked all activity related to volunteering.
</p>

<ul class="grid dashboard" style ="grid-template-columns: repeat( 2, minmax(0, 1fr));">

<li>
	{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.volunteer_headlines",
			title: "title",
			value: "value",
			width: "50%",
			panels: [{
				name: "Total confirmed volunteers"
			},{
				name: "Total volunteer hours completed"
			}]
		}
	}) | safe
}}
</li>

<li>
	{{ comp.oi.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: viz.leeds_2023.volunteers_by_ward,
			scale:  'rgb(128, 211, 211) 0%, rgb(0, 69, 99) 100%',
			matchKey: 'ward_code',
			width: 400,
			height: 400,
			value: 'confirmed',
			label: '{{ n | slice(0,3) }}',
			tooltip: '{{ n }}: <strong>{{ confirmed }}</strong>'
		}
	}) | safe }}
</li>
</ul>

</div>

<div class="block">

<h2>Media coverage</h2>

<p>
	The programme brought together people locally, nationally and internationally. From live major events to online digital experiences, the Year of Culture attracted a great deal of attention and coverage in the media and online. The data below presents editorial coverage of the programme, via a number of news and media outlets. These figures were collected up until January 2024, however the programme is still being mentioned and more data will follow in the evaluation report, due late 2024. 
</p>

<ul class="grid dashboard" style ="grid-template-columns: repeat( 2, minmax(0, 1fr));">

<li>
	{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.media_headlines",
			title: "title",
			value: "value",
			width: "50%",
			panels: [{
				name: "Total media"
			},{
				name: "Total editorial articles"
			},{
				name: "Total editorial articles"
			}]
		}
	}) | safe
}}
</li>

<li>
{{ comp.oi.viz.chart.bar({ config: {
    data: "viz.leeds_2023.medium_count",
    category: 'medium',
    width: 750,
    series: [
      { title: 'Number of articles', value: 'count', scale: 'lightcyan'}
    ],
    legend: {
      show: true,
      position: "top"
    },
    axis: {
      x: {
        title: {
          label: "Number of articles"
        },
        "font-weight": oi_viz.bar.axis.x['font-weight'],
        grid: oi_viz.bar.axis.x.grid
      },
      y: {
        "font-weight": oi_viz.bar.axis.y['font-weight'],
        grid: oi_viz.bar.axis.y.grid
      }
    }
  } }) | safe }}
  </li>
</ul>

</div>

<div class="block">

<h2>Web & Social Analytics</h2>

<p>
	As part of LEEDS 2023 engagement and communication strategies, there were accounts on a range of digital and social media platforms. The figures below were derived from Sprout Social, a social media aggregation tool. LEEDS 2023 also had a presence on YouTube, Spotify and TikTok, which were not reported on the Data Microsite. As such, the total digital audience was larger than reported.
</p>

<ul class="grid dashboard" style ="grid-template-columns: repeat( 1, minmax(0, 1fr));">

<li>
	{{
	comp.oi.dashboard({
		config: {
			data: "viz.leeds_2023.social_media_headlines",
			title: "title",
			value: "total",
			width: "30%",
			panels: [{
				name: "Total engagements"
			},{
				name: "Total audience gained"
			},{
				name: "Total impressions"
			}]
		}
	}) | safe
}}
</li>

</ul>

</div> 



