---
title: Cultural Anchors
---

<div class="summary">
<p>
Cultural Anchors includes some of the largest, building based, cultural organisations in the city, each attracting significant levels of funding to the city from a range of sources. Applications to the Cultural Anchors is by invitation only with these organisations operating as strategic partners with Leeds City Council to deliver a range of cultural and strategic benefits across the city and beyond. Cultural Anchors play a pivotal role in the contributions of the cultural sector to the Best City Ambition.
</p>

{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/advice-sessions" } %}
		<h3>Advice sessions offered</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural-anchors.funding_advice_sessions['rows'][0]['No. of funding surgeries offered'] } %}
		{% endcomp %}
		<p class="footnote">Advice Sessions</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/applications/" } %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural-anchors.applications_received['rows'][0]['No. of eligible applications'] } %}
		{% endcomp %}
		<p class="footnote">Applications</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/applications/", columns: 2, rows: 2 }  %}
	<h3>Applications received by ward</h3>
		{% comp "dashboard.embedded_figure"  %}
		<p style = "text-align:center;">This map represents the number of applications received from each Leeds ward.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.lcip.cultural-anchors.applications_by_ward,
				scale:  'rgb(30, 172, 175) 0%, rgb(0, 69, 99) 100%',
				matchKey: 'ward_code',
				value: 'value',
				min: 0, 
				max: 2,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ value }}</strong>'
			}
		}) | safe }}
		<p class="footnote">Applications</p>
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/results/" }  %}
		<h3>Funded artists</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.cultural-anchors.results['rows'][0]['No. of funded individual artists']) + (viz.lcip.cultural-anchors.results['rows'][0]['No. of funded organisations']) 
		} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/results/" }  %}
		<h3>Funding awarded</h3>
		{% comp "dashboard.big_number", { 
			prefix: '£', 
			number: (viz.lcip.cultural-anchors.results['rows'][0]['Total amount awarded to individual artists (£)']) + (viz.lcip.cultural-anchors.results['rows'][0]['Total amount awarded to organisations(£)']),
			fontsize: '3em'} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/funding-invested/" } %}
		<h3>Funding invested</h3>
		{% comp "dashboard.big_number", { 
			number: (viz.lcip.cultural-anchors.funding['rows'][0]['Funding invested from Leeds City Council']) + (viz.lcip.cultural-anchors.funding['rows'][0]['Funding invested from others e.g. UKSPF']),
			prefix: '£',
			fontsize: '3em' } %}
		{% endcomp %}
		<p class="footnote">Investment</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/workforce/" }  %}
		<h3>Workforce</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.cultural-anchors.contribution_to_workforce['rows'][0]['Artists/Creatives']) + (viz.lcip.cultural-anchors.contribution_to_workforce['rows'][0]['Volunteers'])
		} %}
		{% endcomp %}
		<p class="footnote">Workforce</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/reach/" }  %}
		<h3>Audience</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.cultural-anchors.reach['rows'][0]['Audience - in person']) + (viz.lcip.cultural-anchors.reach['rows'][0]['Broadcast/online audiences']) + (viz.lcip.cultural-anchors.reach['rows'][0]['Participants - in person']), fontsize: '3em' } %}
		{% endcomp %}
		<p class="footnote">Reach</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/project-outputs/" }  %}
		<h3>Project outcomes</h3>
		{% comp "dashboard.big_number", { 
		number: viz.lcip.cultural-anchors.project_outputs_funded['rows'][0]['Performances or exhibition days'] } %}
		{% endcomp %}
		<p class="footnote">Project Outputs</p>
	{% endcomp %}

{% endcomp %}


