---
title: Cultural Anchors
---

<div class="summary">
<p>
Cultural Anchors includes some of the largest, building based, cultural organisations in the city, each attracting significant levels of funding to the city from a range of sources. Applications to the Cultural Anchors is by invitation only with these organisations operating as strategic partners with Leeds City Council to deliver a range of cultural and strategic benefits across the city and beyond. Cultural Anchors play a pivotal role in the contributions of the cultural sector to the Best City Ambition.
</p>

{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/applications/" } %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.applications_received['rows'][0]['from an organisation'] } %}
		{% endcomp %}
		<p class="footnote">Applications</p>
	{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/artforms/", columns: 1}  %}
		<h3>Funded<br>artforms</h3>
		{% comp "dashboard.big_number", { 
		number: viz.lcip.cultural_anchors.artform_funded['rows'][0]['total'] } %}
		{% endcomp %}
		<p class="footnote">Artforms</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/applications/", columns: 2, rows: 2 }  %}
	<h3>Funding awarded by ward</h3>
		{% comp "dashboard.embedded_figure"  %}
		<p style = "text-align:center;">This map represents the number of applications awarded funding from each Leeds ward.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.lcip.cultural_anchors.wards_applicant_based,
				scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
				matchKey: 'ward_code',
				value: 'value',
				min: 0, 
				max: 2,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ value }}</strong>'
			}
		}) | safe }}
		<p class="footnote">Applications</p>
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/funding-invested/", columns: 2 } %}
		<h3>Funding invested</h3>
		{% comp "dashboard.big_number", { 
			number: (viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from Leeds City Council']) + (viz.lcip.cultural_anchors.funding['rows'][0]['Funding invested from others']),
			prefix: '£',
			fontsize: '2.5rem' } %}
		{% endcomp %}
		<p class="footnote">Investment</p>
	{% endcomp %}

			{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/results/", columns: 2}  %}
		<h3>Funding<br>awarded</h3>
		{% comp "dashboard.big_number", { 
			prefix: '£', 
			number: (viz.lcip.cultural_anchors.results['rows'][0]['Total amount awarded to organisations (£)']),
			fontsize: '2.5rem'} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}

		{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/reach/", columns: 2 }  %}
		<h3>Audience<br><br></h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.cultural_anchors.reach['rows'][0]['Audience - in person']) + (viz.lcip.cultural_anchors.reach['rows'][0]['Broadcast/online audiences']) + (viz.lcip.cultural_anchors.reach['rows'][0]['Participants - in person']), fontsize: '2.5rem' } %}
		{% endcomp %}
		<p class="footnote">Reach</p>
	{% endcomp %}

	{% endcomp %}

{% comp "dashboard.panels", { columns: 2 } %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/workforce/" }  %}
		<h3>Workforce</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.cultural_anchors.contribution_to_workforce['rows'][0]['Artists/Creatives'] + viz.lcip.cultural_anchors.contribution_to_workforce['rows'][0]['Volunteers']), fontsize: '2.75rem'
		} %}
		{% endcomp %}
		<p class="footnote">Workforce</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/cultural-anchors/project-outputs/", columns: 1}  %}
		<h3>Project outputs</h3>
		{% comp "dashboard.big_number", { 
		number: viz.lcip.cultural_anchors.project_outputs_funded['rows'][0]['Performances or exhibition days'],
		fontsize: '2.5rem' } %}
		{% endcomp %}
		<p class="footnote">Project Outputs</p>
	{% endcomp %}

{% endcomp %}
