---
title: Cultural Anchors
---

<div class="summary">
<p>
Cultural Anchors includes some of the largest, building based, cultural organisations in the city, each attracting significant levels of funding to the city from a range of sources. Applications to the Cultural Anchors is by invitation only with these organisations operating as strategic partners with Leeds City Council to deliver a range of cultural and strategic benefits across the city and beyond. Cultural Anchors play a pivotal role in the contributions of the cultural sector to the Best City Ambition.
</p>