---
title: Grow - Project
---

<div class="summary">
<p>
Grow: Project – provides larger grants for one-off larger scale and artistically ambitious projects. Grants offered are between £5,000 to £15,000. This strand is open to individuals and organisations. 
</p>
</div>

