---
title: Thrive
---

<div class="summary">
    <p>
    Thrive – provides grants to support ongoing activities for more established cultural organisations delivering positive creative and social impacts through year-round programmes of work in the city. Organisations are typically (but not exclusively) Arts Council National Portfolio Organisations with many delivering local, national and international activities thus raising the cultural profile of Leeds. Grants range between £20,000 and £60,000 per year, over a two-year funding period.
    </p>
</div>