---
title: Thrive
---

<div class="summary">
    <p>
    Thrive – provides grants to support ongoing activities for more established cultural organisations delivering positive creative and social impacts through year-round programmes of work in the city. Organisations are typically (but not exclusively) Arts Council National Portfolio Organisations with many delivering local, national and international activities thus raising the cultural profile of Leeds. Grants range between £20,000 and £60,000 per year, over a two-year funding period.
    </p>
</div>

{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/advice-sessions" } %}
		<h3>Advice sessions offered</h3>
		{# {% comp "dashboard.big_number", { number: viz.lcip.thrive.funding_advice_sessions['rows'][0]['No. of funding surgeries offered'] } %}
		{% endcomp %} #}
		<p class="footnote">Advice Sessions</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/thrive/applications/" } %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.thrive.applications_received['rows'][0]['No. of eligible applications'] } %}
		{% endcomp %}
		<p class="footnote">Applications</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/applications/", columns: 2, rows: 2 }  %}
	<h3>Applications received by ward</h3>
		{% comp "dashboard.embedded_figure"  %}
		<p style = "text-align:center;">This map represents the number of applications received from each Leeds ward.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.lcip.thrive.wards_applicant_based,
				scale:  'rgb(30, 172, 175) 0%, rgb(0, 69, 99) 100%',
				matchKey: 'ward_code',
				value: 'value',
				min: 0, 
				max: 2,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ value }}</strong>'
			}
		}) | safe }}
		<p class="footnote">Applications</p>
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/results/" }  %}
		<h3>Funded artists</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.thrive.results['rows'][0]['No. of funded individual artists']) + (viz.lcip.thrive.results['rows'][0]['No. of funded organisations']) 
		} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/thrive/results/" }  %}
		<h3>Funding awarded</h3>
		{% comp "dashboard.big_number", { 
			prefix: '£', 
			number: (viz.lcip.thrive.results['rows'][0]['Total amount awarded to organisations (£)']),
			fontsize: '3em'} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/funding-invested/" } %}
		<h3>Funding invested</h3>
		{% comp "dashboard.big_number", { 
			number: (viz.lcip.thrive.funding['rows'][0]['Funding invested from Leeds City Council']) + (viz.lcip.thrive.funding['rows'][0]['Funding invested from others']),
			prefix: '£',
			fontsize: '3em' } %}
		{% endcomp %}
		<p class="footnote">Investment</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/workforce/" }  %}
		<h3>Workforce</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.thrive.contribution_to_workforce['rows'][0]['Artists/Creatives']) + (viz.lcip.thrive.contribution_to_workforce['rows'][0]['Volunteers'])
		} %}
		{% endcomp %}
		<p class="footnote">Workforce</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/reach/" }  %}
		<h3>Audience</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.thrive.reach['rows'][0]['Audience - in person']) + (viz.lcip.thrive.reach['rows'][0]['Broadcast/online audiences']) + (viz.lcip.thrive.reach['rows'][0]['Participants - in person']), fontsize: '3em' } %}
		{% endcomp %}
		<p class="footnote">Reach</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/thrive/project-outputs/" }  %}
		<h3>Project outcomes</h3>
		{% comp "dashboard.big_number", { 
		number: viz.lcip.thrive.project_outputs_funded['rows'][0]['Performances or exhibition days'] } %}
		{% endcomp %}
		<p class="footnote">Project Outputs</p>
	{% endcomp %}

{% endcomp %}
