---
title: Cultural Anchors - Applications Received
---

{% comp "dashboard.panels", { columns: 2 } %}

    {% comp "dashboard.pane" %}
		<h3>Organisations</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.applications_received['rows'][0]['from an organisation'] } %}{% endcomp %}
	{% endcomp %}

		{% comp "dashboard.pane", { columns: 1, rows: 2 }  %}
	<h3>Applications received by ward</h3>
	{% comp "dashboard.embedded_figure" %}
    <p style = "text-align:center;">This map represents the number of applications received from each Leeds ward.</p>
	
	{{ comp.oi.map.hex_cartogram({
		config: {
			hexjson: hex.wards_leeds,
			data: viz.lcip.cultural_anchors.wards_applicant_based,
			scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
			matchKey: 'ward_code',
			min: 0, 
			max: 2,
			height: 600, 
			width: 600,
			value: 'value',
			label: '{{ n | slice(0,3) }}',
			tooltip: '{{ n }}: <strong>{{ value }}</strong>'
		}
	}) | safe }}
	{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Total funding requested</h3>
		{% comp "dashboard.big_number", { fontsize: '2.6em', number: viz.lcip.cultural_anchors.applications_received['rows'][0]['Total amount of funding requested (£)'], prefix: "£"} %}{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Total amount awarded</h3>
		{% comp "dashboard.big_number", { number: (viz.lcip.cultural_anchors.results['rows'][0]['Total amount awarded to organisations(£)'] + viz.lcip.cultural_anchors.results['rows'][0]['Total amount awarded to individual artists (£)']), prefix: '£', fontsize: '3em' } %}{% endcomp %}
	{% endcomp %}
{% endcomp %}


