---
title: Grow - Project
---

<div class="summary">
<p>
Grow: Project provides support for one off larger scale and artistically ambitious projects, currently offering grants between £5,000 to £15,000 for individuals or organisations. The dashboard below provides an overview of the grants awarded through the scheme. Click the panels to see further detail.
</p>
<p>
These figures are derived by calculating the total amount across all quarterly data to date.
</p>
</div>




{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/advice-sessions" } %}
		<h3>Advice sessions offered</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.grow_project.funding_advice_sessions['rows'][0]['No. of funding sessions offered'], fontsize: '2.75rem' } %}
		{% endcomp %} 
		<p class="footnote">Advice Sessions</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/grow_project/applications/" } %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.grow_project.applications_received['rows'][0]['No. of eligible applications'], fontsize: '2.75rem' } %}
		{% endcomp %}
		<p class="footnote">Applications</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/applications/", columns: 2, rows: 2 }  %}
	<h3>Funding awarded by ward</h3>
		{% comp "dashboard.embedded_figure"  %}
		<p style = "text-align:center;">This map represents the accrued number of applications awarded funding by ward.</p>
		{{ comp.oi.map.hex_cartogram({
			config: {
				hexjson: hex.wards_leeds,
				data: viz.lcip.grow_project.wards_funded,
				scale:  'rgb(9, 156, 161) 0%, rgb(5, 64, 89) 100%',
				matchKey: 'ward_code',
				value: 'value',
				min: 0, 
				max: 2,
				label: '{{ n | slice(0,3) }}',
				tooltip: '{{ n }}: <strong>{{ value }}</strong>'
			}
		}) | safe }}
		<p class="footnote">Awards</p>
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/results/" }  %}
		<h3>Funded<br>applications</h3>
		{% comp "dashboard.big_number", { 
			number: viz.lcip.grow_project.results['rows'][0]['No. of funded organisations'] + viz.lcip.grow_project.results['rows'][0]['No. of funded individual artists'], fontsize: '2.75rem'
		} %}
		{% endcomp %}
		<p class="footnote">Programme Results</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/funding-invested/" } %}
		<h3>Funding<br>invested</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.grow_project.funding['rows'][0]['total'], prefix: '£', fontsize: '2.75rem'} %}{% endcomp %}
		<p class="footnote">Investment Sources</p>
	{% endcomp %}
	{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/project-outputs/" }  %}
		<h3>Total funded<br>project outputs</h3>
		{% comp "dashboard.big_number", { 
		number: viz.lcip.grow_project.project_outputs_funded['rows'][0]['total'], fontsize: '2.75rem' } %}
		{% endcomp %}
		<p class="footnote">Project Outputs</p>
	{% endcomp %}


		{% comp "dashboard.pane", { link: "/lcip/grow_project/artforms/" }  %}
		<h3>Funded<br>Artforms</h3>
		{% comp "dashboard.big_number", { 
			number: (viz.lcip.grow_project.total_artform_funded['rows'][0]['total']),
			fontsize: '2.75rem'} %}
		{% endcomp %}
		<p class="footnote">Artforms</p>
	{% endcomp %}


	{% comp "dashboard.pane", { link: "/lcip/grow_project/target-groups/" }  %}
		<h3>Target<br>Groups</h3>
		{% comp "dashboard.big_number", { 
			number: (viz.lcip.grow_project.target_groups_funded['rows'][0]['total']),
			fontsize: '2.75rem'} %}
		{% endcomp %}
		<p class="footnote">Target Groups</p>
	{% endcomp %}
	{% endcomp %}

{% comp "dashboard.panels", { columns: 2 } %}


	{% comp "dashboard.pane", { link: "/lcip/grow_project/reach/" }  %}
		<h3>Audience</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.grow_project.reach['rows'][0]['total']), fontsize: '2.75rem' } %}
		{% endcomp %}
		<p class="footnote">Engagement</p>
	{% endcomp %}

	{% comp "dashboard.pane", { link: "/lcip/grow_project/workforce/" }  %}
		<h3>Employment and<br>Volunteers</h3>
		{% comp "dashboard.big_number", { 
		number: (viz.lcip.grow_project.contribution_to_workforce['rows'][0]['Artists/Creatives'] + viz.lcip.grow_project.contribution_to_workforce['rows'][0]['Volunteers']), fontsize: '2.75rem'
		} %}
		{% endcomp %}
		<p class="footnote">Employment and Volunteers</p>
	{% endcomp %}


{% endcomp %}