---
title: Project - Diversity Dashboard
---

<div class="">
	<p>
		This dashboard represents the diversity of the individuals and organisations that have applied for and been awarded a Project grant through the Leeds Cultural Investment Programme. The stats below represent across all 3 of the Project LCIP schemes to maintain confidentiality. Leeds Culture Programmes has a commitment to ensuring that opportunities are awarded to a diverse range of practitioners that reflect the cultural makeup and population of Leeds' communities. 
	</p>
</div>

<h2>Age</h2>

{% comp "dashboard.panels", { columns: 1 } %}

{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.project.AGE,
	width: 1000,
	height: 400,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED",
			colour: '#004563'
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 10
			}
		}
	}
}
} %}{% endcomp %}
{% endcomp %}



<h2>Gender</h2>
{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.project.SEX,
	width: 1000,
	height: 200,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED",
			colour: '#004563'
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 10
			}
		}
	}
}
} %}{% endcomp %}
{% endcomp %}


<h2>Disability</h2>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.project.DISABILITY,
	width: 1000,
	height: 400,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED",
			colour: '#004563'
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 10
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %}

	
<h2>Ethnicity</h2>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.project['ETHNIC ORIGIN'],
	width: 1000,
	height: 400,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED",
			colour: '#004563'
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 10
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %}



<h2>Caring Responsibility</h2>

<p>The chart below presents the number of people who applied for, or was funded by, any of the 3 Project schemes run by LCIP, and answered that they currently have caring responsibilities.</p>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.project.CARER,
	width: 1000,
	height: 300,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED",
			colour: '#004563'
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 10
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %} 