{# ---
title: Project - Dashboard
---

<div class="">
	<p>
		This dashboard represents the diversity of the individuals and organisations that have applied for and been awarded a Project grant through the Leeds Cultural Investment Programme. The stats below represent across all 6 of the LCIP schemes to maintain confidentiality. Leeds Culture Programmes has a commitment to ensuring that opportunities are awarded to a diverse range of practitioners that reflect the cultural makeup and population of Leeds' communities. 
	</p>
</div>

<h2>Age</h2>

{% comp "dashboard.panels", { columns: 1 } %}

{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.INSPIRE.age,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED"
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 7.5
			}
		}
	}
}
} %}{% endcomp %}
{% endcomp %}



<h2>Gender</h2>
{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.inspire.sex,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED"
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 7.5
			}
		}
	}
}
} %}{% endcomp %}
{% endcomp %}


<h2>Disability</h2>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.inspire.disability,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED"
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 7.5
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %}

	
<h2>Ethnicity</h2>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.inspire.ethnic_origin,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED"
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 7.5
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %}



<h2>Caring Responsibility</h2>

{% comp "dashboard.panels", { columns: 1 } %}
{% comp 'oi.chart.bar', { "config": {
	"data": viz.lcip.diversity.inspire.carer,
	"category": "METRIC",
	"series": [{
			"title": "APPLIED",
			"value": "APPLIED"
		},
		{
			"title": "FUNDED",
			"value": "FUNDED"
		}],
	"legend": {
		"show": true,
		"position": "top"
	},
	"axis": {
		"x": {
			"tick": {
				"spacing": 7.5
			}
		}
	}
}
} %}{% endcomp %}	
{% endcomp %} #}