---
title: Leeds Culture Dashboard 
---

<p>
	Lorem ipsum dolor sit amet. Qui voluptates sint non nobis amet et officiis officia est voluptate libero id ipsam totam rem expedita nihil in dolores voluptatum? Ab illo incidunt cum omnis maxime aut distinctio quos sed perferendis rerum eum quia molestiae. Qui repudiandae rerum est dolorum voluptas vel maiores nihil est perspiciatis quod.
</p>

{{
	comp.oi.dashboard({
		config: {
			data: "dummy_headline",
			title: "Headline",
			value: "Value",
			width: "200px",
            postfix: "Suffix",
			panels: [{
				name: "Number of surgeries"
			},{
				name: "Funding requested"
			},{
				name: "Funding from Leeds City Council"
			},{
				name: "Funding from Arts Council"
			}]
		}
	}) | safe
}}