---
title: Leeds City Council Culture Dashboard
---

{% from 'macros.njk' import dateFormatterNoDayMonth as dateFormatter %}
{% set metric = page.metric %}
{% set most_recent_quarter = "30 Sept 2024"%}

<div class="summary">
<p>
The Leeds Cultural Investment Programme (LCIP) provides a strategic framework which supports delivery of cultural ambitions aligned with the Council’s corporate plan: <a href="https://www.leeds.gov.uk/plans-and-strategies/best-city-ambition">Best City Ambition</a> and features within the city’s <a href="https://www.inclusivegrowthleeds.com">Inclusive Growth Strategy</a>.
</p>

<p>
	The Leeds Cultural Investment Programme (LCIP) is a Leeds City Council development framework which serves to support the development of culture, to facilitate a broad range of cultural and creative activities in the city, and to promote access to cultural and creative opportunities for the benefit of those that live in and visit Leeds. LCIP is a successor to the arts@leeds and Leeds Inspired cultural grants schemes and part of the city’s evolving LEEDS 2023 legacy. 
</p>
<p>
	LCIP comprises six development strands designed to enable creative and cultural activity in Leeds to flourish for the benefit of all who live, work, study and visit the city. The framework is flexible and subject to available resources, offers funding for both Project (one-off) and Programme (ongoing) activities. Activate is a unique strand which, responsive to opportunity, has scope to deliver funding, commissioning or strategic interventions. 
</p>
<p>
	To read more about the programme, visit the <a href="https://www.leedscultureprogrammes.org.uk\">Leeds Culture Programmes website</a>. Explore data relating to these funding strands below.
</p>
</div>

<h2>Project</h2>

<p>
	Project grants are currently delivered through three distinct strands: <strong>Inspire, Grow: Project, and Activate</strong>. The data for these grants are updated every financial quarter and will accrue through the year. The figures below are combined across all Project streams and are indicative of our investment (i.e. based on data from application forms). Click the links below to view data on each funding strand.
</p>
<p>These figures are derived from the total across all 3 strands, deriving the cumulative sum across all quarterly data to date.</p>

	{% comp "dashboard.panels", { columns: 1 } %}
	{% comp "dashboard.pane", { bg: '#004563', color: '#ffffff'} %}

	<h2>1 Apr 2024 - {{ most_recent_quarter }}</h2>

	{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane" %}
		<h3>Advice sessions offered</h3>
		{% comp "dashboard.big_number", { number: 96, fontsize: '2.5em'  } %}
		{% endcomp %}
	{% endcomp %}



	{% comp "dashboard.pane" %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: 63, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Funded<br>applications</h3>
		{% comp "dashboard.big_number", { number: 31, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}	

	{% comp "dashboard.pane" %}
		<h3>Funding<br>awarded</h3>
		 {% comp "dashboard.big_number", { number: 130600, fontsize: '2.5rem', prefix: '£'} %}
		{% endcomp %}
	{% endcomp %}

		{% comp "dashboard.pane" %}
		<h3>Employment and<br>Volunteers</h3>
		{% comp "dashboard.big_number", { number: 71521, fontsize: '2.5rem'} %}
		{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.pane" %}
		<h3>Engagement<br><br></h3>
		{% comp "dashboard.big_number", { number: 795204, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Ward-based activities</h3>
		{% comp "dashboard.big_number", { number: 26, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}	

	{% comp "dashboard.pane" %}
		<h3>Diversity</h3>
    <h3><br>See more</h3>
	{% endcomp %}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}
	{% comp "dashboard.pane", { bg: '#004563', color: '#ffffff'}  %}

	<h2>Project funding strands</h2>

	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}



	{% comp "dashboard.text-panel", { link: "/lcip/inspire/", height: '200px' } %}
		<h2>Inspire</h2>
	{% endcomp %}


	{% comp "dashboard.text-panel", { link: "/lcip/grow_project/", height: '200px'  } %}
		<h2>Grow: Project</h2>
	{% endcomp %}

	{% comp "dashboard.text-panel", { link: "/lcip/activate/", height: '200px'  } %}
		<h2>Activate</h2>
	{% endcomp %}	
{% endcomp %}



<h2>Revenue</h2>

<p>
	Programme (revenue) grants are currently delivered through three strands: <strong>Grow: Revenue, Thrive and Cultural Anchors</strong>. These grants are offered over a two-year period. These figures will be updated at the beginning of the financial year. The figures below are combined across all Revenue streams and are indicative of our investment. Click the links below to view data on each funding scheme.
</p>

	{% comp "dashboard.panels", { columns: 1 } %}
	{% comp "dashboard.pane", { bg: '#004563', color: '#ffffff'} %}

	<h2>Programme (revenue) funding 2024-27</h2>

	{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.panels", { columns: 4 } %}

	{% comp "dashboard.pane" %}
		<h3>Advice sessions offered</h3>
		{% comp "dashboard.big_number", { number: 80, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.pane" %}
		<h3>Applications received</h3>
		{% comp "dashboard.big_number", { number: 39, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Funded<br>applications</h3>
		{% comp "dashboard.big_number", { number: 42, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}	

	{% comp "dashboard.pane" %}
		<h3>Funding<br>awarded</h3>
		{% comp "dashboard.big_number", { number: 1713170, fontsize: '2.5rem', prefix: '£'} %}
		{% endcomp %}
	{% endcomp %}

		{% comp "dashboard.pane" %}
		<h3>Employment and<br>Volunteers</h3>
		{% comp "dashboard.big_number", { number: 15298, fontsize: '2.5rem'  } %}
		{% endcomp %}
	{% endcomp %}


	{% comp "dashboard.pane" %}
		<h3>Engagement<br><br></h3>
		{% comp "dashboard.big_number", { number: 2219107, fontsize: '2.5rem'} %}
		{% endcomp %}
	{% endcomp %}

	{% comp "dashboard.pane" %}
		<h3>Ward-based activities</h3>
		{% comp "dashboard.big_number", { number: 348, fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}	

	{% comp "dashboard.pane" %}
		<h3>Diversity</h3>
    <h3><br>See more</h3>
	{% endcomp %}

{% endcomp %}

{% comp "dashboard.panels", { columns: 1 } %}
	{% comp "dashboard.pane", { bg: '#004563', color: '#ffffff'} %}

	<h2>Programme (revenue) funding strands</h2>

	{% endcomp %}
{% endcomp %}

{% comp "dashboard.panels", { columns: 3 } %}


	{% comp "dashboard.text-panel", { link: "/lcip/grow_revenue/" } %}
		<h2>Grow: Revenue</h2>
	{% endcomp %}


	{% comp "dashboard.text-panel", { link: "/lcip/thrive/" } %}
		<h2>Thrive</h2>
	{% endcomp %}

	{% comp "dashboard.text-panel", { link: "/lcip/cultural-anchors/" } %}
		<h2>Cultural Anchors</h2>
	{% endcomp %}	
{% endcomp %}