---
title: Cultural Anchors - Reach
---
<p>
How an audience or participant will be expected to engage with a project or event.
</p>

{% comp "dashboard.panels", { columns: 3 } %}

	{% comp "dashboard.pane", { link: "/lcip/cultural_anchors/advice-sessions" } %}
		<h3>Audience - in person</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.reach['rows'][0]['Audience - in person'], fontsize: '2.5rem'} %}
		{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane", { link: "/lcip/cultural_anchors/advice-sessions" } %}
		<h3>Broadcast/online audiences</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.reach['rows'][0]['Broadcast/online audiences'], fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

    {% comp "dashboard.pane", { link: "/lcip/cultural_anchors/advice-sessions" } %}
		<h3>Participants - in person</h3>
		{% comp "dashboard.big_number", { number: viz.lcip.cultural_anchors.reach['rows'][0]['Participants - in person'], fontsize: '2.5rem' } %}
		{% endcomp %}
	{% endcomp %}

{% endcomp %}