---
title: Data
---

<p>
	Lorem ipsum dolor sit amet. Qui voluptates sint non nobis amet et officiis officia est voluptate libero id ipsam totam rem expedita nihil in dolores voluptatum. Ab illo incidunt cum omnis maxime aut distinctio quos sed perferendis rerum eum quia molestiae. Qui repudiandae rerum est dolorum voluptas vel maiores nihil est perspiciatis quod.
</p>

<ul class="grid dashboard" style ="grid-template-columns: repeat( 2, minmax(0, 1fr));">

	{% comp "dashboard.pane", { bg: "#0a2f45", fg: 'white' }%}
	<li><a href="">
		<h2>Leeds Cultural Investment Fund</h2>
	    </a></li>
	{% endcomp %}

    {% comp "dashboard.pane", { bg: "#0a2f45", fg: 'white' }%}
	    <li><a href="">
		<h2>Leeds Cultural Impact Survey</h2>
	    </a></li>
	{% endcomp %}

    {% comp "dashboard.pane", { bg: "#0a2f45", fg: 'white' }%}
	    <li><a href="">
		<h2>LEEDS 2023 Legacy</h2>
	    </a></li>
	{% endcomp %}

</ul>

