	<footer class="b1-bg">
		<div class="holder padded tallpadded">
			{{ footer | safe }}
			<ul class="footer grid-list">
				<li>
					<h3>Contact us</h3>
					<ul class="grid elsewhere">
							<li><a href="https://www.facebook.com/Leedscouncil/"><svg width="48" height="48" viewBox="83 -108.9 64 64" aria-labelledby="icon-facebook"><title id="icon-facebook">Facebook</title><rect style="opacity:0;fill:#eeeeee;fill-opacity:1;stroke:none;stroke-width:0.5;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1" width="40" height="40" x="83" y="-108.9" /><path d="m 109.91,-52.9 0,-21.894 -7.37,0 0,-8.533 7.37,0 0,-6.297 c 0,-7.305 4.45,-11.276 10.97,-11.276 3.12,0 5.81,0.24 6.58,0.33 l 0,7.634 -4.52,0 c -3.53,0 -4.23,1.689 -4.23,4.145 l 0,5.442 8.44,0 -1.1,8.533 -7.34,0 0,21.894 -8.8,0.02 z" fill="#ffffff" /></svg>
							<p>Facebook<p></a></li>
							<li><a href="https://twitter.com/LeedsCC_help"><svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" aria-label="X" role="img" viewBox="0 0 512 512"><path fill="currentColor" d="M281.7 234.3 382.2 120h-23.8l-87.3 99.2-69.7-99.2H121l105.4 150L121 389.9h23.8L237 285.1l73.6 104.8H391ZM153.4 137.5H190l168.4 235.6h-36.6Z"/></svg>
							<p>X/Twitter</p></a></li>
					</ul>
				</li>
				<li>
					<ul class="footer-links" >
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=4adacfa9-3b4e-42f1-996b-9c16a2a65b1b">Contact us</a></li>
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=9ae71fe0-54b8-47d2-a65d-3673e04848ae">British sign language</a></li>
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=526da0c3-18ee-45d0-8833-41ba1a027e02">Languages and translation</a></li>
						<li><a href="https://news.leeds.gov.uk/">News and press office</a></li>
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=3cd6308c-56ba-4f28-b49c-45f69fa14914">Accessibility statement</a></li>
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=be8089af-5aea-413a-93ef-feeaf3baa06a">Privacy</a></li>
						<li><a href="https://www.leeds.gov.uk/termsandconditions">Terms and conditions</a></li>
						<li><a href="https://www.leeds.gov.uk/_layouts/15/FIXUPREDIRECT.ASPX?WebId=caee98b0-ddae-46c0-b230-fa2dd143720c&TermSetId=f353ad75-bc13-4d08-8dcb-9de85b388a24&TermId=76984644-d8f1-4139-944a-750eebf8019f">Feedback</a></li>
					</ul>
				</li>
				<li>
					<ul class="footer-logos">
						<li>
							<a href="/"><img src="/assets/images/lcc-logo-white-01.svg" width='300'></a>
						</li>
						<li><p>Funded by:</p></li>
						<li>
							<a href="/"><img src="/assets/images/West_Yorkshire_CA_logo.svg" width='300'></a>
						</li>
					</ul>
				</li>
			</ul>
			<p>Website design and visualisations &copy; 2024 <a href="https://open-innovations.org">Open Innovations</a> (<a href="http://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>)</p>
		</div>
	</footer>
