<div class="b6-bg">
	<header>
		<div class="{{ header_class or 'b1-bg' }}">
			<div class="holder padded">
      <a href="/"><img src="/assets/images/lcc-logo-white-transparent.png" inline width='300' class='center padded'></a>
				<nav>
        		<ul class="menu-items" hidden="">
						<li><a href="/about">About</a></li>
						<li><a href="/data">Data</a></li>
						<li><a href="/lcip/">Cultural Investment Programme</a></li>
						<li><a href="/impact-survey">Cultural Impact Survey</a></li>
						<li><a href="/leeds-2023-legacy">LEEDS 2023 Legacy</a></li>
					  </ul>
				</nav>
			</div>
		</div>
	</header>
</div>