<div class="b6-bg">
	<header>
		<div class="{{ header_class or 'b1-bg' }}">
			<div class="holder padded">
      <img src="/assets/images/lcc-logo-white-transparent.png" inline width='400' class='center padded'>
				<nav>
        		<ul class="menu-items" hidden="">
						<li><a href="/about">About</a></li>
						<li><a href="/data">Data</a></li>
						<li><a href="/investment-fund">Cultural Investment Fund</a></li>
						<li><a href="/impact-survey">Cultural Impact Survey</a></li>
					  </ul>
				</nav>
			</div>
		</div>
	</header>
</div>