<div class="site-header">
	<header>
		<div class="padded b1-bg">
			<ul class="header-grid">
      			<a href="/"><img src="/assets/images/lcc-logo-white-transparent.png" inline width='250'></a>
				<li>
				<nav>
        		<ul class="menu-items">
						<li><a href="/about">About</a></li>
						<li><a href="/data-catalogue">Data</a></li>
						<li><a href="/lcip/">Cultural Investment Programme</a></li>
						<li><a href="/leeds-2023-legacy">LEEDS 2023 Legacy</a></li>
					  </ul>
				</nav>
				</li>
			</ul>
		</div>
	</header>
</div>